body{
    font-family: Arial,sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: gray;
}

.nav-menu-left{
    list-style: none;
    margin: auto;
    padding: auto;
    display: flex;
}

.nav-menu-right{
    display: flex;
    margin-left: auto;
    align-items: center;
    margin-bottom: 30px;
    list-style: none;
}

.nav-menu-right li{
    margin-right : 30px;
}