body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/*Barre de navigation */
nav{
    background-color: #69c;
    color: white;
    overflow: hidden;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav .gauche{
    display: flex;
    flex-wrap: wrap;
}

nav .gauche img{
    padding-top: 5px;
}

nav .gauche .onglets{
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
}
nav .gauche .onglets p{
    margin-left: 20px;
    cursor: pointer;
}


footer{
    background-color: #69c;
    color: white;
    overflow: hidden;
    display: flex;
    align-items: center;
}