body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/*Barre de navigation */
nav{
    background-color: #69c;
    color: white;
    overflow: hidden;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

nav #gauche{
    display: flex;
    flex-wrap: wrap;
}

nav #gauche #logo{
    padding-top: 5px;
}

nav #gauche #onglets{
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
}
nav #gauche #onglets p{
    margin-left: 20px;
    cursor: pointer;
}


footer{
    background-color: #69c;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    display: flex;
    width: 100%;
    bottom: 0;
}

#meilleur{
    overflow: hidden;
}

#prev-btn,#next-btn{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#prev-btn{
    left: 10px;
}

#next-btn{
    right: 10px;
}

#meilleur-film{
    position: relative;
    max-width: 600px;
    margin: 0 auto;
}

#carousel,#carousel1,#carousel2,#carousel3{
    display: grid;
    position: relative;
    margin: 20px 40px 20px;
}

#carousel-inner,#carousel-inner1,#carousel-inner2,#carousel-inner3,#carousel-inner4{
    display: flex;
    overflow-x : auto;
    flex-wrap: nowrap;
    position : relative;
    justify-content: center;
    align-items: center;
    margin: center;
    width: auto;
}

#carousel-inner .image-carousel,#carousel-inner1 .image-carousel2,#carousel-inner2 .image-carousel3,#carousel-inner3 .image-carousel4{
    width: calc(100%/6);
}

.image-carousel,.image-carousel2,.image-carousel3,.image-carousel4{
    width: calc(100%/6);
}

.modal{
    display: none;
    top: 50%;
    position: absolute;
    padding: center;
    border: none;
    border-radius: 10px;
    width: 800px;
    height: 600px;
    overflow: auto;
    justify-content: center;
    align-items: center;
    background-color: rgba(102, 153, 204, 0.800); 
}

.image{
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.4);
    width : 30%;
}
.content h3{
    display: inline-block;
    font-size: 24px;
}
.metadata{
    font-weight: bold;
}
#year,#rating,#duration,#imdb,#director,#cast,#country,#box-office,#resume{
    bottom: 10px;
}

h2{
    text-align: left;
    margin-top: 50px;
}

#prevButton,#prevButton2,#prevButton3,#prevButton4{
    left: 30px;
}

#nextButton,#nextButton2,#nextButton3,#nextButton4{
    right: 30px;
}

#prevButton,#prevButton2,#prevButton3,#prevButton4,#nextButton,#nextButton2,#nextButton3,#nextButton4{
    position: absolute;
    bottom: 165px;
    top:50%;
    height: 60px;
    width: 60px;
    color: #fff;
    border: none;
    outline: none;
    background: #000;
    font-size: 2.2rem;
    cursor: pointer;
    border-radius: 50%;
    transform: translateY(-50%);
}


